/* General styles */
:root {
    --default-color: #fff;

    --button-color: #fff;
    --button-text-color: #000;
    --button-hover-color: #000;
    --button-hover-text-color: #fff;
    --button-disabled-color: #8e8e8e;

    --piece-black-color: #000;
    --piece-white-color: #fff;
    --piece-clicked-color: #00ff00;
    --piece-possible-moves-color: #90ee90;

    --background-color: #303030;
    --overlay-background-color: #191919;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-weight: 600;
    color: var(--default-color);
    background: var(--background-color);
    width: 100%;
    height: 100%;
}

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    cursor: pointer;
    border: none;
}

button:disabled {
    background-color: var(--button-disabled-color);
    color: var(--button-text-color);
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}

.title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 0;
}

.absolute-fill {
    position: absolute;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 1;
    visibility: hidden;
}

/* Game styles */

#game {
    visibility: hidden;
}

.board-container {
    width: max(500px, 80vh);
    height: max(500px, 80vh);
}

#board-cells {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cell {
    place-self: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
.cell-black {
    background-color: var(--piece-black-color);
}
.cell-white {
    background-color: var(--piece-white-color);
}
.cell-clicked {
    background-color: var(--piece-clicked-color);
}
.cell-possible-moves {
    background-color: var(--piece-possible-moves-color);
}

.control-buttons {
    position: absolute;
    left: 50%;
    top: 93%;
    width: max(400px, 60vh);
    height: 50px;
    text-align: center;
}

.control-button {
    width: 30%;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 2rem;
}

/* Menu styles */

#menu {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.menu-buttons {
    width: 400px;
    height: 80px;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

/* Result styles */

#result {
    width: max(375px, 60vh);
    height: min(250px, 30vh);
    background-color: var(--overlay-background-color);
    z-index: 2;
    visibility: hidden;
}

#result-text {
    top: 45%;
    font-size: 4rem;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.result-buttons {
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
}

.result-button {
    margin-left: 5px;
    margin-right: 5px;
    width: 110px;
    height: 32px;
    font-size: 1.7rem;
}

#board-svg {
    stroke: #3c3c3c;
    fill: #3c3c3c;
    stroke-width: 8;
}
